In [1]:
# IMPORTS
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import os
import zipfile
from zipfile import ZipFile
import shutil
from pathlib import Path
import requests

import time
from datetime import date

In [2]:
ls

 202403-capitalbikeshare-tripdata.zip.1  'EDA Notebook.ipynb'   data/

In [23]:
os.getcwd()

'/home/kabiromohd/final_project1/EDA'

In [86]:
import os

def find_data_file(search_file):
    # Specify the directory path
    directory_path = '/home/kabiromohd/final_project1/EDA/data'

    # Get the list of files in the directory
    files_list = os.listdir(directory_path)

    # Filter out directories from the list (optional)
    files_list = [f for f in files_list if os.path.isfile(os.path.join(directory_path, f))]
    print(files_list)
    # Print the list of files
    print("List of files:")
    for file in files_list:
        if search_file in file:
            return file
    return "file No found"
        
current_file = find_data_file("capitalbikeshare-tripdata.zip")
print(current_file)
current_year = int(current_file[0:4])
current_month = int(current_file[4:6])
print(current_year)
print(current_month)

if current_month < 12:
    new_year = current_year
    new_month = current_month + 1
else:
    new_year = current_year + 1
    new_month = 1
    
print(new_year)
print(new_month)


def local_download(base_url: str, file_name: str) -> Path:
    #Download files locally
    
    dir_path = Path('/home/kabiromohd/final_project1/EDA/data')
    filepath = Path(dir_path / file_name)
    if not filepath.exists():
        url = base_url + file_name
        response = requests.get(url, timeout=150)
        if not dir_path.exists():
            dir_path.mkdir()
        with filepath.open('wb') as f:
            f.write(response.content)
    return filepath

base_url = "https://s3.amazonaws.com/capitalbikeshare-data/"

file_name = f"{new_year}{new_month:02}-capitalbikeshare-tripdata.zip"

local_zip = local_download(base_url, file_name)

dir_path = Path('/home/kabiromohd/final_project1/EDA/data')
os.remove(Path(dir_path / current_file))
print(file_name, "BBBB")

directory_path = '/home/kabiromohd/final_project1/EDA/data'

file_path = os.path.join(directory_path, file_name)
print(file_path)

# Extract the zip file
with zipfile.ZipFile(file_path, 'r') as zip_ref:
    zip_ref.extractall(directory_path)
os.remove(file_path)
shutil.rmtree(local_zip.parent / "__MACOSX", ignore_errors=True)

['202004-capitalbikeshare-tripdata.csv', '202404-capitalbikeshare-tripdata.zip']
List of files:
202404-capitalbikeshare-tripdata.zip
2024
4
2024
5
202405-capitalbikeshare-tripdata.zip BBBB
/home/kabiromohd/final_project1/EDA/data/202405-capitalbikeshare-tripdata.zip

In [6]:
!wget "https://s3.amazonaws.com/capitalbikeshare-data/202403-capitalbikeshare-tripdata.zip"

--2024-07-21 15:58:15--  https://s3.amazonaws.com/capitalbikeshare-data/202403-capitalbikeshare-tripdata.zip
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.44.224
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.44.224|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16315953 (16M) [application/zip]
Saving to: ‘202403-capitalbikeshare-tripdata.zip.1’

pitalbikeshare-trip   0%[                    ]  83.50K  3.54KB/s    eta 51m 47s^C

In [ ]:
!wget "https://divvy-tripdata.s3.amazonaws.com/Divvy_Trips_2020_Q1.zip"

--2024-07-21 16:03:12--  https://divvy-tripdata.s3.amazonaws.com/Divvy_Trips_2020_Q1.zip
Resolving divvy-tripdata.s3.amazonaws.com (divvy-tripdata.s3.amazonaws.com)... 52.216.109.35
Connecting to divvy-tripdata.s3.amazonaws.com (divvy-tripdata.s3.amazonaws.com)|52.216.109.35|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 15920655 (15M) [application/zip]
Saving to: ‘Divvy_Trips_2020_Q1.zip.2’

                 Di   7%[>                   ]   1.07M  --.-KB/s    eta 22m 40s

In [4]:
# Unzip the raw data file

zip_file_name = 'Divvy_Trips_2020_Q1.zip'
directory_path = '/home/kabiromohd/final_project1/data'

file_path = os.path.join(directory_path, zip_file_name)

# Check if the file exists
if not os.path.exists(file_path):
    print(f"File not found: {file_path}")
else:
    # Extract the zip file
    with zipfile.ZipFile(file_path, 'r') as zip_ref:
        zip_ref.extractall(directory_path)

File not found: /home/kabiromohd/final_project1/data/Divvy_Trips_2020_Q1.zip

In [89]:
filename = find_data_file("capitalbikeshare-tripdata.csv")
dir_path = Path('/home/kabiromohd/final_project1/EDA/data')
filepath = Path(dir_path / filename)

#file_path = os.path.join(directory_path, file_name)
print(filepath)
df = pd.read_csv(filepath)
df.head()

['202405-capitalbikeshare-tripdata.csv']
List of files:
/home/kabiromohd/final_project1/EDA/data/202405-capitalbikeshare-tripdata.csv

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,028CB30D63626320,classic_bike,2024-05-23 16:07:47,2024-05-23 16:20:22,Grant Circle,31421.0,10th & Quincy St NE / Turkey Thicket Rec,31541.0,38.942025,-77.018221,38.937849,-76.993509,casual
1,33D6F7F8951D5D67,electric_bike,2024-05-24 09:19:05,2024-05-24 10:02:29,W Columbia St & N Washington St,32609.0,S Glebe Rd & Potomac Ave,31010.0,38.885602,-77.166884,38.842600,-77.050200,casual
2,BDDEFEBB8770EFF2,classic_bike,2024-05-09 08:54:14,2024-05-09 08:59:16,1st & L St NW,31677.0,New Jersey Ave & F St NW,31655.0,38.903819,-77.011987,38.897108,-77.011616,member
3,31C46CFE02542EF5,classic_bike,2024-05-16 13:48:38,2024-05-16 14:04:43,North Capitol & R St NE,31527.0,10th & Quincy St NE / Turkey Thicket Rec,31541.0,38.912560,-77.008775,38.937849,-76.993509,member
4,3DB767AB9DF69BD7,electric_bike,2024-05-22 08:27:00,2024-05-22 08:38:24,Eastern Market / 7th & North Carolina Ave SE,31610.0,New Jersey Ave & F St NW,31655.0,38.887016,-76.996802,38.897108,-77.011616,member

In [11]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,EACB19130B0CDA4A,docked_bike,2020-01-21 20:06:59,2020-01-21 20:14:30,Western Ave & Leland Ave,239,Clark St & Leland Ave,326.0,41.9665,-87.6884,41.9671,-87.6674,member
1,8FED874C809DC021,docked_bike,2020-01-30 14:22:39,2020-01-30 14:26:22,Clark St & Montrose Ave,234,Southport Ave & Irving Park Rd,318.0,41.9616,-87.6660,41.9542,-87.6644,member
2,789F3C21E472CA96,docked_bike,2020-01-09 19:29:26,2020-01-09 19:32:17,Broadway & Belmont Ave,296,Wilton Ave & Belmont Ave,117.0,41.9401,-87.6455,41.9402,-87.6530,member
3,C9A388DAC6ABF313,docked_bike,2020-01-06 16:17:07,2020-01-06 16:25:56,Clark St & Randolph St,51,Fairbanks Ct & Grand Ave,24.0,41.8846,-87.6319,41.8918,-87.6206,member
4,943BC3CBECCFD662,docked_bike,2020-01-30 08:37:16,2020-01-30 08:42:48,Clinton St & Lake St,66,Wells St & Hubbard St,212.0,41.8856,-87.6418,41.8899,-87.6343,member

In [12]:
df.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      1
end_station_id        1
start_lat             0
start_lng             0
end_lat               1
end_lng               1
member_casual         0
dtype: int64

In [13]:
df.rideable_type.unique()

array(['docked_bike'], dtype=object)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426887 entries, 0 to 426886
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             426887 non-null  object
 1   rideable_type       426887 non-null  object
 2   started_at          426887 non-null  object
 3   ended_at            426887 non-null  object
 4   start_station_name  426887 non-null  object
 5   start_station_id    426887 non-null  int64
 6   end_station_name    426886 non-null  object
 7   end_station_id      426886 non-null  float64
 8   start_lat           426887 non-null  float64
 9   start_lng           426887 non-null  float64
 10  end_lat             426886 non-null  float64
 11  end_lng             426886 non-null  float64
 12  member_casual       426887 non-null  object
dtypes: float64(5), int64(1), object(7)
memory usage: 42.3+ MB

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426887 entries, 0 to 426886
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             426887 non-null  object
 1   rideable_type       426887 non-null  object
 2   started_at          426887 non-null  datetime64[ns]
 3   ended_at            426887 non-null  datetime64[ns]
 4   start_station_name  426887 non-null  object
 5   start_station_id    426887 non-null  int64
 6   end_station_name    426886 non-null  object
 7   end_station_id      426886 non-null  float64
 8   start_lat           426887 non-null  float64
 9   start_lng           426887 non-null  float64
 10  end_lat             426886 non-null  float64
 11  end_lng             426886 non-null  float64
 12  member_casual       426887 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(1), object(5)
memory usage: 42.3+ MB

In [5]:
def extract_data_for_month(df, date_column, month):
    #Change format to datetime
    df['started_at'] = pd.to_datetime(df['started_at'], errors='coerce')
    df['ended_at'] = pd.to_datetime(df['ended_at'], errors='coerce')
    
    # Ensure the date_column is in datetime format
    df[date_column] = pd.to_datetime(df[date_column])
    
    month_u = df['started_at'].dt.month.unique()
    for month in month_u:
        nam = 'Unknown_%s' % c
        print(nam)
    print(month_u)

    # Filter DataFrame for the specified month
    filtered_df = df[df[date_column].dt.month == month]

    return filtered_df


jan_df = extract_data_for_month(df, 'started_at', 1)
feb_df = extract_data_for_month(df, 'started_at', 2)
mar_df = extract_data_for_month(df, 'started_at', 3)

[1 2 3]
[1 2 3]
[1 2 3]

In [ ]:
df.

In [5]:
jan_df.shape
feb_df.shape
mar_df.shape

(143418, 13)

In [6]:
jan_df.shape[0] + feb_df.shape[0] + mar_df.shape[0]

426887

In [11]:
def preprocess_data(df):

    df['duration'] = df.ended_at - df.started_at
    df.duration = df.duration.apply(lambda td: td.total_seconds() / 60)

    #df = df[(df.duration >= 1) & (df.duration <= 60)]

    categorical = ['start_station_id', 'end_station_id']
    df[categorical] = df[categorical].astype(str)
    
    #Fill missing values with "0"
    df.fillna(0, inplace = True)
    
    return df

In [12]:
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import make_pipeline

def model_train(df):
        
    categorical = ['ride_id', 'start_station_id', 'end_station_id']

    train_dicts = df[categorical].to_dict(orient='records')

    X_train = train_dicts
    
    target = 'duration'
    y_train = df[target].values

    # Create Pipeline
    pipeline = make_pipeline(
        DictVectorizer(),
        LinearRegression()
    )
    
    pipeline.fit(X_train, y_train)
    
    return pipeline

In [13]:
preproc_df = preprocess_data(jan_df)
dv_model = model_train(preproc_df)

In [14]:
dv_model

Pipeline(steps=[('dictvectorizer', DictVectorizer()),
                ('linearregression', LinearRegression())])

In [16]:
preproc_df.iloc[0, 0:14]

ride_id                       EACB19130B0CDA4A
rideable_type                      docked_bike
started_at                 2020-01-21 20:06:59
ended_at                   2020-01-21 20:14:30
start_station_name    Western Ave & Leland Ave
start_station_id                           239
end_station_name         Clark St & Leland Ave
end_station_id                           326.0
start_lat                              41.9665
start_lng                             -87.6884
end_lat                                41.9671
end_lng                               -87.6674
member_casual                           member
duration                              7.516667
Name: 0, dtype: object

In [17]:
test_df = {
    "ride_id": "EACB19130B0CDA4A",
    "start_station_id": "239",
    "end_station_id": "326.0"    
}

In [19]:
pred = dv_model.predict(test_df)
print(pred)

[7.51708829]

In [ ]:
# Log Model to MLflow
with mlflow.start_run():
    mlflow.log_param("model_type", "LinearRegression")
    mlflow.log_metric("mse", mse)
    mlflow.sklearn.log_model(pipeline, "model")

    print(f"Logged model with MSE: {mse}")